services:
    # Next App
  next-app:
    image: vigarde/jedha-nova-project
    container_name: Jeda_Project_Nova_App
    hostname: nextapp
    restart: unless-stopped
    environment:
      WATCHPACK_POLLING: true
    stdin_open: true 
    tty: true
    healthcheck:
      test: curl -f http://localhost:3000
      interval: 15s
      timeout: 10s
      start_period: 10m
    labels:
      traefik.enable: true
      traefik.docker.network: public
      # traefik.http.routers.phpmyadmin.entrypoints: websecure
      traefik.http.routers.nextapp.rule: 'Host(app.traefik.me)'
      traefik.http.services.nextapp.loadbalancer.server.port: 3000
      traefik.http.routers.nextapp.tls: true
      traefik.http.middlewares.redirect.redirectscheme.scheme: 'https'
    ports:
      - "3000:3000"
    networks:
      - private
  # Reverse Proxy
  traefik:
    image: traefik:v3.4
    container_name: Jeda_Project_Nova_Traefik
    command: --api.insecure=true --providers.docker
    restart: unless-stopped
    ports:
      - "443:443"
    volumes:
      # So that Traefik can listen to the Docker events
      - type: bind
        source: /var/run/docker.sock
        target: /var/run/docker.sock
      # traefik static configuration
      - type: bind
        read_only: true
        source: ./config/traefik.dev.yml
        target: /etc/traefik/traefik.yml
      # tls configuration
      - type: bind
        read_only: true
        source: ./config/tls.dev.yml
        target: /etc/traefik/tls.yml
      # ssl volumes to store
      - type: volume
        source: certs_data
        target: /etc/ssl/traefik
    depends_on:
      next-app:
        condition: service_healthy
    networks:
      - public
      - private
  traefik-https-helper:
    image: alpine:3.20.1
    container_name: Jeda_Project_Nova_Traefik_HTTPS_Helper
    command: sh -c "cd /etc/ssl/traefik
      && wget traefik.me/cert.pem -O cert.pem
      && wget traefik.me/privkey.pem -O privkey.pem"
    volumes:
      # ssl volumes to store
      - type: volume
        source: certs_data
        target: /etc/ssl/traefik
    networks:
      - private
volumes:
  # Reverse Proxy
  certs_data:
    driver: local
    name: Jeda_Project_Nova_App_Certs
networks:
  private:
    name: Jeda_Project_Nova_Private_Network
    ipam:
        driver: default
  public:
    name: Jeda_Project_Nova_Public_Network
    ipam:
        driver: default